.about {
  background-color: white;
  width: 95%;
  height: 90vh;
  display: flex;
  justify-content: center;
  justify-self: center;
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: translateX(-20%);
}

.about.fade-in {
  opacity: 1;
  transform: translateX(0%);
}

.about-section{
  width: 80%;
  height: 80%;
  display: grid;
  justify-items: start;
  align-items: center;
  align-self: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "header header header header header"
    "p1 p1 p1 p1 p1"
    "courses courses courses courses courses"
    "p2 p2 p2 p2 p2"
    "resume resume resume resume resume";
}

.about-section p {
  color: rgb(102, 102, 102);
}

.about-section h2 {
  color: rgb(102, 102, 102);
  grid-area: header;
}

#about-1 {
  grid-area: p1;
}

#courses {
  grid-area: courses;
  color: rgb(102, 102, 102);
}

#about-2 {
  grid-area: p2;
}

.about-section a {
  grid-area: resume;
  color: rgb(102, 102, 102);
}